---
layout: page
description: "Persistence is harder than effort."
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
<!--
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Prev</a>
    </li>
    {% endif %}

	{% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <em>{{ page }}</em>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	{% endfor %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
-->
<ul class="pagination">
        <li>
            <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">
                <span>首页</span>
            </a>
        </li>
        <li>
	        {% if paginator.page == 1 %}
	            <span>&laquo;</span>
	        {% else %}
	            {% if paginator.previous_page == 1 %}
	            	<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">
	            {% else %}
	            	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
	            {% endif %}
	            <span>&laquo;</span>
	            </a>
	        {% endif %}
        </li>

        {% assign start = paginator.page | minus:4 %}
        {% assign end = paginator.page | plus:4 %}
        {% if start < 1 %}
        {% assign start = 1 %}
        {% if paginator.total_pages > 9 %}
        {% assign end = 9 %}
        {% else %}
        {% assign end = paginator.total_pages %}
        {% endif %}
        {% endif %}
        {% if end > paginator.total_pages %}
        {% assign end = paginator.total_pages %}
        {% if paginator.total_pages > 9 %}
        {% assign start = paginator.total_pages | minus:9 %}
        {% else %}
        {% assign end = 1 %}
        {% endif %}
        {% endif %}
        {% for i in (start..end) %}
	        {% if paginator.page == i %}
	        	<li class="active">
	        {% else %}
		        <li>
		    {% endif %}
		    {% if i == 1 %}
		        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{i}}</a>
		    {% else %}
		        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', i }}">{{i}}</a>
		    {% endif %}
	    		</li>
        {% endfor %}
        <li>
            {% if paginator.page == paginator.total_pages %}
            <span>&raquo;</span>
            {% else %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                <span>&raquo;</span>
            </a>
            {% endif %}
        </li>
        <li>
            {% if paginator.total_pages == 1%}
            <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">
            {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">
            {% endif %}
                <span>末页</span>
            }
            </a>
        </li>
        <li class="disabled">
            <span>第{{paginator.page}}页 / 共{{paginator.total_pages}}页</span>
        </li>
</ul>